<div class="row">
    <div class="col-12">
        <h3>{{recipe.name}}</h3>
    </div>
    <div class="col-12">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid">
    </div>
    <div class="col-12">
        <!-- Dropdown Button -->
        <div class="dropdown mt-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage Recipe
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item" href="#" disabled>Choose action</div>
                <hr>
                <a class="dropdown-item" href="#">To Shopping List</a>
                <a class="dropdown-item" href="#">Edit Recipe</a>
                <a class="dropdown-item" href="#">Delete Recipe</a>
            </div>
        </div>
        <!-- Button Directive dropdown -->
        <!-- <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle mt-1">Manage Recipe</button>
            <ul class="dropdown-menu">
                <li><a href="#">To Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div> -->
        <!-- Recipe Details -->
        <div class="col-12">
            {{recipe.description}}
        </div>
        <div class="col-12">
            <ul class="list-group-flush">
                <li class="list-group-item bg-dark border-light" *ngFor="let ingredient of recipe.ingredients">
                    {{ingredient.name}}<span class="badge badge-light ml-1">{{ingredient.amount}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>